<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Beself_B2bCustomers
 *
 * @category  Beself
 * @package   Beself_B2bCustomers
 * @copyright Copyright © 2023. All rights reserved.
 * @author    cesarhndev@gmail.com
 */
-->

<!-- Override native Form -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Block\Adminhtml\Group\Edit\Form"
            type="Beself\B2bCustomers\Block\Adminhtml\Group\Edit\Form" />
</config>