<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Beself_CustomerB2b
 *
 * @category  Beself
 * @package   Beself_CustomerB2b
 * @copyright Copyright © 2023. All rights reserved.
 * @author    cesarhndev@gmail.com
 */
-->

<!-- Override native Form -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Block\Adminhtml\Group\Edit\Form"
            type="Beself\CustomerB2b\Block\Adminhtml\Group\Edit\Form" />

    <preference for="Beself\CustomerB2b\Api\IsDistributorRepositoryInterface"
                type="Beself\CustomerB2b\Model\IsDistributorRepository" />


    <preference for="Magento\Customer\Controller\Adminhtml\Group\Save"
                type="Beself\CustomerB2b\Model\ControllerOverride\SaveCustomerGroup" />

    <!-- Plugin for Is_Distributor attribute -->
    <type name="Magento\Customer\Api\GroupRepositoryInterface">
        <plugin name="beself_get_is_distributor_attr_customer_group" type="Beself\CustomerB2b\Plugin\GetIsDistributorForCustomerGroup" />
        <plugin name="beself_save_is_distributor_attr_customer_group" type="Beself\CustomerB2b\Plugin\SaveIsDistributorForCustomerGroup" />
    </type>


</config>